<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class="navbar">
    <h3>Wikinimous</h3>
    <p><strong><%= link_to "New Article", new_article_path, {:class=>'nav-button'} %></strong></p>
  </div>
    <%= yield %>
  </body>
</html>
